<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrar Cita</title>
</head>
<body>

<h2>Confirmar Borrado de Cita</h2>

<p>¿Estás seguro de que deseas borrar la siguiente cita?</p>

<p><strong>Fecha de Cita:</strong> {{ cita.fecha }}</p>
<!-- Agrega más campos según la estructura de tu modelo Cita -->

<form method="post" action="{% url 'borrar_cita' Cita.fecha %}">
    {% csrf_token %}
    <button type="submit">Borrar Cita</button>
</form>

<a href="{% url 'lista' %}">Volver a la Lista</a>

</body>
</html>
